src/main/xsd/facet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2011 SearchWorkings.org
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:tns="http://lucene.apache.org/solr/schema/solr/explorer-1.0"
           elementFormDefault="qualified"
           targetNamespace="http://lucene.apache.org/solr/schema/solr/explorer-1.0">

    <xs:element name="facets">
        <xs:annotation>
            <xs:documentation>
                Configures default facets for the application
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:field-facet" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="tns:query-facet" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="field-facet">
        <xs:annotation>
            <xs:documentation>
                Configures a field facet
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="field" type="xs:string" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            The field to facet on.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="sort" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            Indicates whether the facet entries (field values) should be sorted by count or there index order
                        </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="count"/>
                            <xs:enumeration value="index"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="show-missing" type="xs:boolean" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            Indicates whether an entry should be returned for all documents which are missing the filed.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="min-count" type="xs:int" minOccurs="0" maxOccurs="1" default="">
                    <xs:annotation>
                        <xs:documentation>
                            Enables the filtering out of all facet entries whose count is lower than this threshold. Can
                            be left empty to indicate that no such filtering should occur.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="max-entries" type="xs:int" minOccurs="0" maxOccurs="1" default="">
                    <xs:annotation>
                        <xs:documentation>
                            Sets the maximum entries that should be returned for this facet. Can be left empty to indicate
                            an unlimited bound.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>
                        The display name of the facet
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="mutuallyExclusive" type="xs:boolean" use="optional" default="true">
                <xs:annotation>
                    <xs:documentation>
                        Indicates whether the field facet is mutually explusive, that is, a document can only have
                        one value per facet.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="showAsCloud" type="xs:boolean" use="optional" default="false">
                <xs:annotation>
                    <xs:documentation>
                        Sets whether the facet should be displayed as a cloud (eg. tag cloud) or as a list of entries.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="date-facet">
        <xs:annotation>
            <xs:documentation>
                Configures a date facet
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="field" type="xs:string" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            The date field to facet on.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="start" type="xs:string" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            The lower bound for the first date range for all Date Faceting on this field. This should
                            be a single date expression which may use the DateMathParser syntax.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="end" type="xs:string" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            The minimum upper bound for the last date range for all Date Faceting on this field. This
                            should be a single date expression which may use the DateMathParser syntax.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="gap" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            The size of each date range expressed as an interval to be added to the lower bound using
                            the DateMathParser syntax.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="count" type="xs:int" use="required"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="hard-end" type="xs:boolean" minOccurs="0" maxOccurs="1" default="false">
                    <xs:annotation>
                        <xs:documentation>
                            A Boolean parameter instructing Solr what to do in the event that facet.date.gap does not
                            divide evenly between facet.date.start and facet.date.end. If this is true, the last date
                            range constraint will have an upper bound of facet.date.end; if false, the last date range
                            will have the smallest possible upper bound greater then facet.date.end such that the range
                            is exactly facet.date.gap wide. The default is false.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="others" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            Indicates that in addition to the counts for each date range constraint between start and end,
                            counts should also be computed for before, after, between, none, all.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="other">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="before">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    All records with field values lower then lower bound of the first range
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                        <xs:enumeration value="after">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    All records with field values greater then the upper bound of the last range.
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                        <xs:enumeration value="between">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    All records with field values between the start and end bounds of all ranges
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                        <xs:enumeration value="none">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    Compute none of this information.
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                        <xs:enumeration value="all">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    Shortcut for before, between, and after.
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>
                        The display name of the facet
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="query-facet">
        <xs:annotation>
            <xs:documentation>
                Configures a query facet
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="query" type="xs:string" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            The query of this facet
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>
                        The display name of the facet.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

</xs:schema>